Temp/
Library/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta
UnityVS/
UnityVS.meta
.vs
BuildReports/
BuildReport/
BuildReport.meta
BetterBuildInfo/
BetterBuildInfo.meta
Assets/Plugins/Editor.meta
Build/
